* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-y: hidden;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.header .logo h1 {
  color: #d95964;
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header .logo span {
  color: #252223;
  font-size: calc(3rem / 2);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header .searchbox_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .searchbox_container .header_searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: transparent;
  border-radius: 40px;
  padding: 10px;
  color: #252223;
}
.header .searchbox_container .header_searchbox ::placeholder {
  color: #252223;
}
.header .searchbox_container .header_searchbox:hover > .search_text {
  width: 240px;
  padding: 0 6px;
}
.header .searchbox_container .header_searchbox .search_text {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #252223;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.header .searchbox_container .header_searchbox .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #252223;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 40px;
}
.header .navbar {
  display: flex;
  height: 100%;
}
.header .navbar .navul {
  display: flex;
}
.header .navbar .navul .nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-size: 1.1rem;
  list-style: none;
}
.header .navbar .navul .nav_item a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  margin-bottom: 3px;
}
.header .navbar .navul .nav_item a:hover {
  font-weight: 900;
  background: rgba(217, 89, 100, 0.3);
}
.container {
  max-width: 100%;
  max-height: 100%;
}
.container .main_view {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50rem;
  margin: 3rem auto auto auto;
  /*  .main_view_image {
            position: absolute;
            min-width: 100%;
            min-height: 100%;

            -webkit-animation: imgFadeOut 3s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-delay: 1.6s;

            @keyframes imgFadeOut {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                    z-index: -99;
                }
            }

            .hero_image {}
        } */
}
.container .main_view .home_container {
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  /*   -webkit-animation: contentFadeIn 3s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-delay: 1.8s;

            @keyframes contentFadeIn {
                0% {
                  opacity: 0;
                }

                100% {
                    opacity: 1;
                    visibility: visible;
                }
            }

            */
}
.container .main_view .home_container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.container .main_view .home_container .content .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: white;
}
