* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-y: hidden;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
  overflow: auto;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  margin-left: 10rem;
  margin-right: 10rem;
  /*
    .searchbox_container {
        display: flex;
        justify-content: center;
        align-items: center;

        .header_searchbox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            background-color: transparent;
            border-radius: 40px;
            padding: 10px;
            color: @matte-black;

            ::placeholder {
                color: @matte-black;
            }

            &:hover>.search_text {
                width: 240px;
                padding: 0 6px;
            }



            .search_text {
                border: none;
                background: none;
                outline: none;
                padding: 0;
                color: @matte-black;
                font-size: 16px;
                transition: 0.4s;
                line-height: 40px;
                width: 0px;


                &:focus {}
            }

            .search-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: @matte-black;
                font-size: 1rem;
                height: 2rem;
                width: 2rem;
                border-radius: 40px;
            }
        }
    }

    */
}
.header .logo h1 {
  color: #d95964;
  font-weight: 900;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation-name: fade-in;
  -webkit-animation: fade-in 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .logo span {
  color: #252223;
  font-size: calc(5rem / 2);
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-name: fade-in;
  -webkit-animation: fade-in 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .navbar {
  display: flex;
  height: 100%;
}
.header .navbar .navul {
  display: flex;
}
.header .navbar .navul .nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-size: 2rem;
  list-style: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.header .navbar .navul .nav_item a {
  color: #252223;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  margin-bottom: 3px;
  height: 20rem;
  width: 17rem;
}
.header .navbar .navul .nav_item a:hover {
  font-weight: 900;
}
.header .navbar .navul .nav_item a :last-child {
  margin-left: 1rem;
}
.header .navbar .navul .nav_item a .login-btn {
  animation-name: fade-in;
  -webkit-animation: fade-in 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .navbar .navul .login-svg {
  width: 2rem;
  height: 2rem;
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.container {
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container {
    margin: 0 auto;
  }
}
.container .main_view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin: 10rem auto;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view {
    flex-direction: column;
    width: 35rem;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
}
.container .main_view .home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container {
    flex-direction: column;
    width: 35rem;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
  }
}
.container .main_view .home_container .content {
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 25px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content {
    width: 35rem;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
  }
}
.container .main_view .home_container .content .row-default {
  margin: 2rem;
  width: 48%;
}
.container .main_view .home_container .content .row-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-left {
    width: 35rem;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(192, 192, 192, 0.6);
  }
}
.container .main_view .home_container .content .row-left .row-left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 2rem);
  margin: 1rem;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-left .row-left-col {
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .container .main_view .home_container .content .row-left .row-left-col img {
    display: none;
  }
  .container .main_view .home_container .content .row-left .row-left-col .cta-button {
    display: flex;
    border: 5px solid transparent;
    background: #d95964;
    color: rgba(242, 242, 240, 0.9);
    border-radius: 40px;
    padding: 15px 30px;
    overflow: hidden;
    width: 200px;
    font-size: 1.4rem;
    font-weight: 900;
  }
}
@media only screen and (min-width: 1000px) {
  .container .main_view .home_container .content .row-left .row-left-col .cta-button {
    display: none;
  }
}
.container .main_view .home_container .content .row-left .header-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-left .header-home {
    width: 100%;
    height: 100%;
    margin: 1rem;
  }
}
.container .main_view .home_container .content .row-left .header-home .meet-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 20rem;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-left .header-home .meet-container {
    width: 100%;
    height: 100%;
    margin: 1rem;
  }
}
.container .main_view .home_container .content .row-left .header-home .meet-container h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 1px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-left .header-home .meet-container h1 {
    width: 100%;
    height: 100%;
    font-size: 2.3rem;
    letter-spacing: 0px;
    margin-bottom: 1rem;
  }
}
.container .main_view .home_container .content .row-left .header-home .meet-container h3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-left .header-home .meet-container h3 {
    width: 100%;
    height: 100%;
    font-size: 1.9rem;
    letter-spacing: 0px;
  }
}
.container .main_view .home_container .content .row-left .header-home .meet-container h3 span {
  color: #304269;
  font-weight: 900;
}
.container .main_view .home_container .content .row-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-right {
    width: 35rem;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
}
.container .main_view .home_container .content .row-right .col-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45%;
  background: transparent;
  border-radius: 25px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-right .col-two {
    width: 30rem;
    height: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
  }
}
.container .main_view .home_container .content .row-right .col-two .content-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(33% - 2rem);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-right .col-two .content-row {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
.container .main_view .home_container .content .row-right .col-two .content-row .content-col-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
  width: 10%;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-right .col-two .content-row .content-col-icon {
    width: 100%;
    height: 100%;
  }
}
.container .main_view .home_container .content .row-right .col-two .content-row .content-col-icon .star-1 {
  width: 30px;
  height: 30px;
  fill: rgba(255, 165, 0, 0.8);
}
.container .main_view .home_container .content .row-right .col-two .content-row .content-col-icon .arrow-svg {
  width: 30px;
  height: 30px;
}
.container .main_view .home_container .content .row-right .col-two .content-row .content-col-icon .star-2 {
  width: 30px;
  height: 30px;
  fill: #d95964;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-right .col-two .content-row .content-col-icon svg {
    width: 100%;
    height: 100%;
    margin: 1rem;
  }
}
.container .main_view .home_container .content .row-right .col-two .content-row .content-col-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-right .col-two .content-row .content-col-text {
    text-align: center;
  }
}
.container .main_view .home_container .content .row-right .col-two .content-row .content-col-text span {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-right .col-two .content-row .content-col-text span {
    font-size: 1.78rem;
    width: 100%;
    height: 100%;
  }
}
.container .main_view .home_container .content .row-right .col-two .cta-button {
  margin: 4rem;
  border: 5px solid transparent;
  background: #d95964;
  color: rgba(242, 242, 240, 0.9);
  border-radius: 40px;
  padding: 15px 30px;
  overflow: hidden;
  width: 200px;
  font-size: 1.4rem;
  font-weight: 900;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .container .main_view .home_container .content .row-right .col-two .cta-button {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .container .main_view .home_container .content .row-right .col-two .mobile-svg {
    display: none;
  }
}
.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-top: 3rem;
}
.about-wrapper .about-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  height: 90vh;
}
.about-wrapper .about-row .about-col {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}
.about-wrapper .about-row .about-col .col-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(33% - 2rem);
  border: 0.3px solid rgba(112, 128, 144, 0.2);
}
.about-wrapper .about-row .about-col .col-box:hover {
  margin: 2px;
  width: 476.5px;
  -webkit-box-shadow: 0px 0px 11px 7px rgba(112, 128, 144, 0.4);
  -moz-box-shadow: 0px 0px 11px 7px rgba(112, 128, 144, 0.4);
  box-shadow: 0px 0px 11px 7px rgba(112, 128, 144, 0.4);
}
.about-wrapper .about-row .about-col .col-box:hover #icon-visible {
  visibility: visible;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.about-wrapper .about-row .about-col .col-box img {
  border-radius: 25px;
  width: 25rem;
  height: 25rem;
}
.about-wrapper .about-row .about-col .col-box .top-content-holder-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(192, 192, 192, 0.7);
  width: 100%;
  height: 20%;
}
.about-wrapper .about-row .about-col .col-box .top-content-holder-row .top-content-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(33% - 2rem);
}
.about-wrapper .about-row .about-col .col-box .top-content-holder-row .top-content-holder .about-icons {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  visibility: hidden;
}
.about-wrapper .about-row .about-col .col-box .top-content-holder-row .top-content-holder .about-icons:hover {
  fill: #d95964;
}
.about-wrapper .about-row .about-col .col-box .top-content-holder-row .top-content-holder .user-content-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  text-align: center;
}
.about-wrapper .about-row .about-col .col-box .top-content-holder-row .top-content-holder .user-content-holder .top-span {
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.about-wrapper .about-row .about-col .col-box .top-content-holder-row .top-content-holder .user-content-holder .top-span-add {
  font-size: 1.5rem;
}
.about-wrapper .about-row .about-col .col-box .top-content-holder-row .content-grow {
  flex-grow: 1;
}
.about-wrapper .about-row .about-col .col-box .bottom-span {
  font-size: 1.5rem;
}
.about-wrapper .about-row .about-col .col-content {
  text-align: center;
  font-size: 2rem;
}
