* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-y: hidden;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
}
.container {
  max-width: 100%;
  background: #f2f2f0;
}
.container .content {
  display: flex;
  height: 90vh;
}
.container .content .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 17%;
  background-color: #f2f2f0;
}
.container .content .sidebar .sidenav {
  text-align: center;
  font-size: 1.2rem;
  list-style: none;
  margin-top: 3.5rem;
}
.container .content .sidebar .sidenav .sidenav_item a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
}
.container .content .sidebar .sidenav .sidenav_item a:hover {
  font-weight: 900;
  background: rgba(217, 89, 100, 0.3);
  border-left: 5px solid #d95964;
}
.container .content .sidebar .copyright {
  font-size: 0.65rem;
  text-align: center;
  padding: 2.5rem;
}
.container .content .view {
  flex: 1;
}
.container .content .view .homepage_container .homepage_hero .homepage_hero_image {
  border-top-left-radius: 25px;
}
.container {
  max-width: 100%;
  background: #f2f2f0;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.container .header .logo h1 {
  color: #d95964;
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.container .header .logo span {
  color: #252223;
  font-size: calc(3rem / 2);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container .searchbox_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .searchbox_container .header_searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: transparent;
  border-radius: 40px;
  padding: 10px;
  color: #252223;
}
.container .searchbox_container .header_searchbox ::placeholder {
  color: #252223;
}
.container .searchbox_container .header_searchbox:hover > .search_text {
  width: 240px;
  padding: 0 6px;
}
.container .searchbox_container .header_searchbox .search_text {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #252223;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.container .searchbox_container .header_searchbox .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #252223;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 40px;
}
.container .view .homepage_container .about-us-container .row .col {
  border: 1px solid black;
}
.container .view .homepage_container .about-us-container .row .col-1-of-1 {
  width: calc(100% - 2rem);
}
