.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-top: 3rem;


    .about-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        width: 80%;
        height: 90vh;



        .about-col {
            display: flex;
            flex-direction: row;
            height: 50%;
            width: 100%;


            .col-box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: calc(33% - 2rem);
                border: 0.3px solid rgba(112, 128, 144, 0.2);

                &:hover {
                    margin: 2px;
                    width: 476.5px;
                    -webkit-box-shadow: 0px 0px 11px 7px rgba(112, 128, 144, 0.4);
                    -moz-box-shadow: 0px 0px 11px 7px rgba(112, 128, 144, 0.4);
                    box-shadow: 0px 0px 11px 7px rgba(112, 128, 144, 0.4);

                    #icon-visible {
                        visibility: visible;
                        .icon-scale-in();
                    }
                }


                img {
                    border-radius: 25px;
                    width: 25rem;
                    height: 25rem;

                }

                .top-content-holder-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 0.5px solid rgba(192,192,192, 0.7);
                    width: 100%;
                    height: 20%;



                    .top-content-holder {
                        // box holders
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: calc(33% - 2rem);




                        .about-icons {
                            display: flex;
                            flex-direction: row;
                            align-self: center;
                            justify-content: center;
                            margin: 1rem;
                            height: 3rem;
                            width: 3rem;
                            overflow: hidden;
                            visibility: hidden;

                            &:hover {
                                fill: @primary-red;
                            }
                        }

                        .user-content-holder {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100%;

                            flex-grow: 1;
                            text-align: center;

                            .top-span {
                                font-size: 1.6rem;
                                letter-spacing: 1px;
                            }

                            .top-span-add {
                                font-size: 1.5rem;

                            }
                        }

                    }



                    .content-grow {
                        flex-grow: 1;
                    }

                }

                .bottom-span {
                    font-size: 1.5rem;
                }

            }

            .col-content {

                text-align: center;
                font-size: 2rem;
            }

        }
    }


}