

.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-top: 2rem;

    .about-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        width: 80%;
        height: 90vh;
     
     
        .about-col {
            display: flex;
            flex-direction: row;
            height: 50%;
            width: 100%;
            
        
          
            .col-box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: calc(33% - 2rem);
                margin: 1px;
                border: 1px solid @silver;

                &:hover {
                    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);

                    #icon-visible {
                        visibility: visible;
                        .icon-scale-in();
                    }
                }


                img {
                    width: 20rem;
                    height: 20rem;
                
                }

                .top-content-holder-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid @silver;
                    width: 100%;
                    height: 20%;

            

                    .top-content-holder { // box holders
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: calc(33% - 2rem);

                    
                       

                        .about-icons {
                            display: flex;
                            flex-direction: row;
                            align-self: center;
                            justify-content: center;
                            margin: 1rem;
                            height: 3rem;
                            width: 3rem;
                            overflow: hidden;
                            visibility: hidden;
    
                            &:hover {
                                fill: @primary-red;
                            }
                        }

                        .user-content-holder {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                    
                            flex-grow: 1;
    
                            span {
                                &:first-child {
                                    font-size: 2rem;
                                    letter-spacing: 1px;
                                }
                                &:last-child {
                                    font-size: 1.2rem;
                                }
                            }
                        }
             
                    }

                    .content-grow {
                        flex-grow: 1;
                    }

                }

      
      

                .user-content {
                    border: 1px solid black;
                    width: 100%;
                    height: 20%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;

                    span {
                        display: flex;
                        flex-direction: column;
                        margin-right: 3rem;

                    }

                    &:first-child {
                        font-size: 1rem;
                    }

                }
              
            }

            .col-content {
                
                text-align: center;
                font-size: 2rem;
            }

        }
    }


}


