// fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap');

html {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
}

body {
  position: relative;
  z-index: -1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;

  background: linear-gradient(-45deg, @primary-red, @smoke, @primary-red-soft, @smoke);
    


  -webkit-background-size: 400% 400%;
  -moz-background-size: 400% 400%;
  -o-background-size: 400% 400%;
  background-size: 400% 400%;
  animation: pulse 10s ease infinite;

  @keyframes pulse {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 90%;
    }
    100% {
      background-position: 0% 75%;
    }
  }

}