// fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap');

html {

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
  overflow: auto;
}

body {

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;


  // background: linear-gradient(-20deg, #8ab9ff, #8ab9ff, #8ab9ff, #8ab9ff, white, white, white),
  // linear-gradient(-40deg, #4567b2, #4567b2, #8ab9ff, #8ab9ff, white, white, white) no-repeat center center;
    
}