.container {

    max-width: 100%;
    max-height: 100%;


    .main_view {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        margin: 10rem auto;



        .home_container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 100%;
            margin: 0 auto;


            .content {
                display: flex;
                width: 100%;
                height: 100%;
                background: transparent; // make this transparent after re-layout
                border-radius: 25px;

                .row-default {
                    // gutter
                    margin: 2rem;

                    width: (50% - 2rem);
                }

                .row-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    .row-left-col {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: calc(100% - 2rem);
                        margin: 1rem;


                        .mobile-svg {}

                    }

                    .header-home {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        flex-grow: 1;

                        .meet-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            width: 100%;
                            height: 20rem;



                            h1 {
                                font-size: 4rem;
                                font-weight: 900;
                                letter-spacing: 1px;
                            }

                            h3 {
                                font-size: 1.8rem;
                                font-weight: 600;
                                letter-spacing: 1px;

                                span {
                                    color: @matte-blue;
                                    font-weight: 900;

                                }
                            }
                        }

                    }

                }

                .row-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;



                    .col-two {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 45%;
                        background: transparent;
                        border-radius: 25px;
                       


                        .content-row {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: calc(33% - 2rem);
                         
                           

                            .content-col-icon {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                margin-top: 2px;
                                width: 10%;
                             
                              

                                .star-1 {
                                    width: 30px;
                                    height: 30px;
                                    fill: rgba(255,165,0, 0.8)
                                }

                                .arrow-svg {
                                    width: 30px;
                                    height: 30px;
                                }

                                .star-2 {
                                    width: 30px;
                                    height: 30px;
                                    fill: @primary-red;
                                }
                            }

                            .content-col-text {
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                width: 100%;
                               
                            

                                span {
                                 
                                    margin-left: 1rem;
                                    font-size: 2rem;
                                    font-weight: 400;
                                    letter-spacing: 1px;
                                }
                            }
                        }




                        .cta-button {
                            margin: 4rem;
                            .cta-btn();
                        }
                    }


                }
            }

        }
    }
}