.container {

    max-width: 100%;
    max-height: 100%;


    .main_view {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        margin: 10rem auto;

        @media @mobile {
            flex-direction: column;
            width: 35rem;
            height: 100%;
            margin: 1rem;
            padding: 1rem;
        }



        .home_container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 100%;
            margin: 0 auto;

            @media @mobile {
                flex-direction: column;
                width: 35rem;
                height: 100%;
                margin: 1rem;
                padding: 1rem;
            }


            .content {
                display: flex;
                width: 100%;
                height: 100%;
                background: transparent; // make this transparent after re-layout
                border-radius: 25px;

                @media @mobile {
                    width: 35rem;
                    height: 100%;
                    margin: 1rem;
                    padding: 1rem;
                    flex-direction: column;
                }

                .row-default {
                    // gutter
                    margin: 2rem;

                    width: (50% - 2rem);
                }

                .row-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    @media @mobile {
                        width: 35rem;
                        height: 100%;
                        margin: 1rem;
                        padding: 1rem;
                    }

                    .row-left-col {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: calc(100% - 2rem);
                        margin: 1rem;

                        @media @mobile {
                            justify-content: space-between;

                            img {
                                display: none;
                            }

                            .cta-button {
                                display: flex;
                                .cta-btn();
                            }

                            width: 100%;
                            height: 100%;

                        }

                        @media @desktop {

                            .cta-button {
                                display: none;
                            }
                        }

                    }

                    .header-home {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        flex-grow: 1;

                        @media @mobile {
                            
                            width: 100%;
                            height: 100%;
                            margin: 1rem;
                        }

                        .meet-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            width: 100%;
                            height: 20rem;

                            @media @mobile {
                                width: 100%;
                                height: 100%;
                                margin: 1rem;
                            }



                            h1 {
                                font-size: 4rem;
                                font-weight: 900;
                                letter-spacing: 1px;

                                @media @mobile {
                                    width: 100%;
                                    height: 100%;
                                    font-size: 2.3rem;
                                    letter-spacing: 0px;
                                    margin-bottom: 1rem;
                                }
                            }

                            h3 {
                                font-size: 2rem;
                                font-weight: 600;
                                letter-spacing: 1.2px;

                                @media @mobile {
                                    width: 100%;
                                    height: 100%;
                                    font-size: 1.9rem;
                                    letter-spacing: 0px;
                                }

                                span {
                                    color: @matte-blue;
                                    font-weight: 900;

                                }
                            }
                        }

                    }

                }

                .row-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    @media @mobile {
                        width: 35rem;
                        height: 100%;
                        margin: 0 auto;
                        padding: 1rem;
                    }



                    .col-two {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 45%;
                        background: transparent;
                        border-radius: 25px;

                        @media @mobile {
                            width: 30rem;
                            height: 100%;
                            margin-bottom: 2rem;
                            padding: 1rem;
                           
                        }



                        .content-row {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: calc(33% - 2rem);

                            @media @mobile {
                                width: 100%;
                                height: 100%;
                                flex-direction: column;
                            }


                            .content-col-icon {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                margin-top: 2px;
                                width: 10%;

                                @media @mobile {
                                    width: 100%;
                                    height: 100%;
                                    
                                }


                                .star-1 {
                                    width: 30px;
                                    height: 30px;
                                    fill: rgba(255, 165, 0, 0.8)
                                }

                                .arrow-svg {
                                    width: 30px;
                                    height: 30px;
                                }

                                .star-2 {
                                    width: 30px;
                                    height: 30px;
                                    fill: @primary-red;
                                }

                                svg {
                                    @media @mobile {
                                        width: 100%;
                                        height: 100%;
                                        margin: 1rem;
                                    }
                                }
                            }

                            .content-col-text {
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                width: 100%;

                                @media @mobile {
                                   text-align: center;
                                   
                                }


                                span {

                                    margin-left: 1rem;
                                    font-size: 2rem;
                                    font-weight: 400;
                                    letter-spacing: 1px;

                                    @media @mobile {
                                        font-size: 1.78rem;
                                        width: 100%;
                                        height: 100%;
                                      
                                    }
                                }
                            }
                        }


          

                        .cta-button {
                            margin: 4rem;
                            .cta-btn();

                            @media @mobile {
                                display: none;
                            }
                        }

                        .mobile-svg {
                            @media @desktop {
                                display: none;
                            }
                        }
                    }


                }
            }

        }
    }
}