.container {
    max-width: 100%;
    background: @smoke;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;
        margin-left: 3rem;
        margin-right: 3rem;

        .logo {

            h1 {
                color: @primary-red;
                font-weight: 900;
                font-size: 3rem;
                text-transform: uppercase;
                letter-spacing: 4px;

            }

            span {
                color: @matte-black;
                font-size: calc(3rem / 2);
                text-transform: uppercase;
                letter-spacing: 1px;
            }

        }
    }

    // searchbox 
    .searchbox_container {
        display: flex;
        justify-content: center;
        align-items: center;

        .header_searchbox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            background-color: transparent;
            border-radius: 40px;
            padding: 10px;
            color: @matte-black;

            ::placeholder {
                color: @matte-black;
            }

            &:hover>.search_text {
                width: 240px;
                padding: 0 6px;
            }



            .search_text {
                border: none;
                background: none;
                outline: none;
                padding: 0;
                color: @matte-black;
                font-size: 16px;
                transition: 0.4s;
                line-height: 40px;
                width: 0px;


                &:focus {}
            }

            .search-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: @matte-black;
                font-size: 1rem;
                height: 2rem;
                width: 2rem;
                border-radius: 40px;
            }
        }
    }

    .view {
     
        .homepage_container {
           
            .about-us-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                background: white;
                

                .row {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    border: 1px solid black;

                    h1 {
                        font-size: 2rem;
                    }
                    
                }

                .row_content {
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 3rem;
                    width: 100%;
                    
                   

                    .col-box {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
           
                    }

                    img {
                        height: 15rem;
                        width: 15rem;
                    }

                    a {
                        font-size: 1rem;
                        text-decoration: none;
                        color: black;
                    }
                }

            }
        }
    }
}