

.animated-to-bg() { // the pulse
    animation: pulse_background 9s ease infinite;

    @keyframes pulse_background {
        0% {
            color: @matte-blue;
          }
          50% {
            color: @light-matte-blue;
          }
          100% {
            color: @matte-blue 50%;
          }
    }
}




.animated-to-svg() { // the pulse for svg
    animation: svg_background 9s ease infinite;

    @keyframes svg_background {
        0% {
            fill: @matte-blue;
          }
          50% {
            fill: @light-matte-blue;
          }
          100% {
            fill: @matte-blue 50%;
          }
    }
}


.cta-btn() { // sign up button
    border: 5px solid transparent;
    background: #AED6D1;
    color: #55706D;
    border-radius: 40px;
    padding: 15px 30px;
    overflow: hidden;
    width: 200px;



}