

.animated-to-bg() { // the pulse
    animation: pulse_background 9s ease infinite;

    @keyframes pulse_background {
        0% {
            color: black;
          }
          25% {
            color: black;
          }
          50% {
            color: white;
          }
          75% {
            color: black;
          }
          100% {
            color: black;
          }
    }
}




.animated-to-svg() { // the pulse for svg
    animation: svg_background 9s ease infinite;

    @keyframes svg_background {
        0% {
            fill: black;
          }
          25% {
            fill: black;
          }
          50% {
            fill: white;
          }
          75% {
            fill: black;
          }
          100% {
            fill: black;
          }
    }
}
