// top left logo
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;

    @media @mobile-s,
    @mobile {
        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
        margin: 0 auto;
    }

    @media @tablet {
        margin-top: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    @media @desktop-s {
        margin-top: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    @media @desktop-m {
        margin-top: 1.5rem;
    }

    @media @desktop-l {
        margin-top: 1.5rem;
    }


    .logo {

        @media @mobile-s,
        @mobile {
            text-align: center;
            width: 100%;
            flex-grow: 1;
        }


        @media @tablet {
            margin-left: 1rem;
            margin-bottom: 1.1rem;
        }

        @media @desktop-s {
            margin-left: 1rem;
            margin-bottom: 1.1rem;
        }

        @media @desktop-m {
            margin-left: 1rem;
            margin-bottom: 1.1rem;
        }

  

        h1 {
            color: @primary-red;
            font-weight: 900;
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 5px;
            .animated-to-bg();
        }

        @media @tablet {
            font-size: 3rem;
            overflow: hidden;
        }

        span {
            color: @matte-black;
            font-size: calc(5rem / 2);
            text-transform: uppercase;
            letter-spacing: 1px;
            .animated-to-bg();

            @media @tablet {
                font-size: 2rem;
                overflow: hidden;
            }
        }

    }

    // searchbox 
    /*
    .searchbox_container {
        display: flex;
        justify-content: center;
        align-items: center;

        .header_searchbox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            background-color: transparent;
            border-radius: 40px;
            padding: 10px;
            color: @matte-black;

            ::placeholder {
                color: @matte-black;
            }

            &:hover>.search_text {
                width: 240px;
                padding: 0 6px;
            }



            .search_text {
                border: none;
                background: none;
                outline: none;
                padding: 0;
                color: @matte-black;
                font-size: 16px;
                transition: 0.4s;
                line-height: 40px;
                width: 0px;


                &:focus {}
            }

            .search-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: @matte-black;
                font-size: 1rem;
                height: 2rem;
                width: 2rem;
                border-radius: 40px;
            }
        }
    }

    */

    .navbar {
        display: flex;
        height: 100%;

  

        .navul {
            // ul
            display: flex;

            @media @mobile-s, @mobile {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0px;
                height: 45vh;
                width: 100%;
                background: white;
                border-bottom: 1px solid @silver;
                transform: translateY(-100%);

                &.active {
                    transform: translateY(0%);
                }
            }

      

        
            .nav_item {
                // li
                display: flex;
                justify-content: center;
                align-items: center;
                height: inherit;
                font-size: 2rem;
                list-style: none;
                font-weight: 600;
                letter-spacing: 1px;

                @media @tablet {
                font-size: 1.9rem;
                }

                a {
                    // links
                    color: @matte-black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 1.5rem 3rem;
                    margin-bottom: 3px;
                    height: 20rem;
                    width: 17rem;

                    @media @tablet {
                        height: 10rem;
                        padding: 1.5rem 1rem;
                        width: 14rem;
                    }


                    &:hover {
                        font-weight: 900;


                    }

                    :last-child {
                        margin-left: 1rem;
                    }

                    .login-btn {
                        .animated-to-bg();
                    }

                }

      

             
            }

            .login-svg {

                width: 2rem;
                height: 2rem;
                .animated-to-svg();
            }

         

        }
    }

    .burger {
        position: absolute;
        left: 1rem;
        cursor: pointer;
        z-index: 1;

        .active {
            background: transparent;  
    
            &:before {
              transform: rotate(45deg) translate(5px, 6px);
            }
            
            &:after {
              transform: rotate(-45deg) translate(5px, -6px);
            }
        }
        

        .navLine {
            width: 23px;
            height: 3px;
            margin: 4px;
            background: @matte-black;
        }
    }
}

