@matte-black: rgb(37, 34, 35);
@matte-black-light: rgba(77, 76, 76, 0.2);
@primary-red: rgb(217, 89, 100);
@primary-red-soft: rgba(217, 89, 100, 0.3);
@smoke: rgba(242, 242, 240,0.9);
@smoke-darker: rgba(242, 242, 240, 0.959);
@matte-green: rgb(2, 115, 74);
@light-green: rgba(2, 115, 74, 0.6);
@matte-blue: rgb(48, 66, 105);
@light-matte-blue:rgba(48, 66, 105,0.8);
@silver: rgb(192,192,192);
@slver-light: rgba(156, 154, 154, 0.493);

// media
@mobile-s:   ~"only screen and (min-width: 300px) and (max-width: 500px)";
@mobile:   ~"only screen and (min-width: 501px) and (max-width: 700px)";
@tablet:   ~"only screen and (min-width: 701px) and (max-width: 1024px)";
@desktop-s:  ~"only screen and (min-width: 1025px) and (max-width: 1400px)"; // width: 1370px;
@desktop-m:  ~"only screen and (min-width: 1401px) and (max-width: 1600px)"; //  width: 1570px;
@desktop-l:  ~"only screen and (min-width: 1601px) and (max-width: 1900px)"; // width: 1870px;
@desktop-xl: ~"only screen and (min-width: 1901px)";

// breakpoints 1025-1093

@breakpoint1025to1093:   ~"only screen and (min-width: 1025px) and (max-width: 1093px)";



