@matte-black: rgb(37, 34, 35);
@primary-red: rgb(217, 89, 100);
@primary-red-soft: rgba(217, 89, 100, 0.3);
@smoke: rgb(242, 242, 240);
@smoke-darker: rgba(242, 242, 240, 0.959);
@matte-green: #02734A;